<!-- Footer starts -->
<footer class="bg-gray-900 text-white py-12">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center">

    <!-- Left side: copyright -->
    <p class="text-gray-400">© 2025 Abu Saleh. All rights reserved.</p>

    <!-- Right side: social icons -->
    <div class="flex space-x-4 mt-4 md:mt-0">
      <a href="https://github.com/abusaleh002" class="text-gray-400 hover:text-white"><i data-feather="github"></i></a>
      <a href="https://linkedin.com/in/abu-saleh-117b6a1ba" class="text-gray-400 hover:text-white"><i data-feather="linkedin"></i></a>
      <a href="https://abusaleh002.github.io/Portfolio/" class="text-gray-400 hover:text-white"><i data-feather="globe"></i></a>
    </div>
  </div>
</footer>
<!-- Footer ends -->
